@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald);
$background-color: #FCFCFC;
$text-color: #585858;

* {
        position: relative
}

html {
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
}
#map {
        height: 100%;
}
.hide {
        display: none;
}


body {
        position: relative;
        height: 100%;
        margin: 40px, 0px, 0px, 0px;
        padding: 0;
        background-color: $background-color;
        color: $text-color;
        font-family: 'Open Sans', Verdana, Geneva, sans-serif;

        .container {
                .jumbotron {
                        background-color: $background-color;
                        border-radius: 0;
                        border: none;
                        height: 628px;

                        #form-content {
                                .site-title {
                                        text-align: center;

                                        .title {
                                                font-family: 'Oswald';
                                                margin: 0 0 20px;
                                                font-size: 80px;
                                        }

                                        .description {
                                                text-indent: 30px;
                                                margin: 20px 0;
                                                text-align: left;
                                                font-size: 16px;
                                        }
                                }

                                #cl_details_container {
                                        border: 1px solid #F1F1F1;
                                        height: 60px;
                                        overflow: hidden;
                                        margin-bottom: 15px;
                                        a#cl_title {
                                                display: block;
                                                font-size: 20px;
                                                text-align: center;
                                                margin-bottom: 3px;
                                        }
                                        p#cl_price {
                                                font-size: 18px;
                                                text-align: center;
                                                margin-bottom: 3px;
                                        }
                                        img {
                                                float: left;
                                                height: 100%;
                                        }
                                        #close_cl_details {
                                                z-index: 3;
                                                position: absolute;
                                                right: 0%;
                                                top: 1.5%;
                                                &:hover {
                                                        cursor: pointer;
                                                        cursor: hand;
                                                }
                                        }
                                }

                                .form-group {
                                        line-height: 34px;

                                        label {
                                                margin-bottom: 0;
                                        }

                                        input[type="text"] {
                                                width: 70%;
                                                float: right;
                                                background-color: transparent;
                                                border-radius: 0;
                                                box-shadow: none;
                                                color: $text-color;
                                                border-color: #F1F1F1;
                                                padding: 6px 36px 6px 12px;

                                                &:hover, &:active, &:focus {
                                                        background-color: #F1F1F1;
                                                }
                                        }

                                        &.button-group {
                                                width: 100%;

                                                .submit-button {
                                                        width: 100%;
                                                        background-color: transparent;
                                                        border-radius: 0;
                                                        color: $text-color;
                                                        border-color: $text-color;
                                                        margin-top: 20px;

                                                        &:hover {
                                                                background-color: #F1F1F1;
                                                                transition: background-color .25s ease-in-out;
                                                                -moz-transition: background-color .25s ease-in-out;
                                                                -webkit-transition: background-color .25s ease-in-out;
                                                        }
                                                }
                                        }
                                        span.checkmark {
                                                position: absolute;
                                                top: 30%;
                                                right: 2%;
                                                color: #85C985;
                                        }
                                }
                        }

                        #been-sent-content {
                                display: flex;
                                flex-direction: column;
                                height: 100%;
                                justify-content: center;
                                align-items: center;

                                &.gone {
                                        opacity: 0;
                                        translation: 50px;
                                }

                                .envelope {
                                        font-size: 100px;
                                        margin-bottom: 30px;
                                }

                                .thanks-message {
                                        font-weight: 300;
                                        font-size: 18px;
                                        margin-top: 30px;
                                }

                                #status {
                                        font-weight: bold;
                                }
                        }
                }
        }
}
