* {
  position: relative; }

html {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0; }

#map {
  height: 100%; }

.hide {
  display: none; }

body {
  position: relative;
  height: 100%;
  margin: 40px, 0px, 0px, 0px;
  padding: 0;
  background-color: #FCFCFC;
  color: #585858;
  font-family: 'Open Sans', Verdana, Geneva, sans-serif; }
  body .container .jumbotron {
    background-color: #FCFCFC;
    border-radius: 0;
    border: none;
    height: 628px; }
    body .container .jumbotron #form-content .site-title {
      text-align: center; }
      body .container .jumbotron #form-content .site-title .title {
        font-family: 'Oswald';
        margin: 0 0 20px;
        font-size: 80px; }
      body .container .jumbotron #form-content .site-title .description {
        text-indent: 30px;
        margin: 20px 0;
        text-align: left;
        font-size: 16px; }
    body .container .jumbotron #form-content #cl_details_container {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-in;
      margin-bottom: 5px; }
      body .container .jumbotron #form-content #cl_details_container span {
        float: right; }
      body .container .jumbotron #form-content #cl_details_container.open {
        max-height: 200px; }
    body .container .jumbotron #form-content .form-group {
      line-height: 34px; }
      body .container .jumbotron #form-content .form-group label {
        margin-bottom: 0; }
      body .container .jumbotron #form-content .form-group input[type="text"] {
        width: 70%;
        float: right;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        color: #585858;
        border-color: #F1F1F1; }
        body .container .jumbotron #form-content .form-group input[type="text"]:hover, body .container .jumbotron #form-content .form-group input[type="text"]:active, body .container .jumbotron #form-content .form-group input[type="text"]:focus {
          background-color: #F1F1F1; }
      body .container .jumbotron #form-content .form-group.button-group {
        width: 100%; }
        body .container .jumbotron #form-content .form-group.button-group .submit-button {
          width: 100%;
          background-color: transparent;
          border-radius: 0;
          color: #585858;
          border-color: #585858;
          margin-top: 20px; }
          body .container .jumbotron #form-content .form-group.button-group .submit-button:hover {
            background-color: #F1F1F1;
            transition: background-color .25s ease-in-out;
            -moz-transition: background-color .25s ease-in-out;
            -webkit-transition: background-color .25s ease-in-out; }
      body .container .jumbotron #form-content .form-group span.checkmark {
        position: absolute;
        top: 30%;
        right: 2%;
        color: #85C985; }
    body .container .jumbotron #been-sent-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center; }
      body .container .jumbotron #been-sent-content.gone {
        opacity: 0;
        translation: 50px; }
      body .container .jumbotron #been-sent-content .envelope {
        font-size: 100px;
        margin-bottom: 30px; }
      body .container .jumbotron #been-sent-content .thanks-message {
        font-weight: 300;
        font-size: 18px;
        margin-top: 30px; }
      body .container .jumbotron #been-sent-content #status {
        font-weight: bold; }

/*# sourceMappingURL=form_style.css.map */
